@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* general settings */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
/* background */
.container-fluid{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;
}

.background {
  background: linear-gradient(142deg, #e4fde1, #456990, #114b5f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
}
/* navbar */
.navMenu {
  position: absolute;
  top: 5%;
  left: 5%;
  -webkit-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%);
}

.navMenu a {
  color: #ecbeb4;
  text-decoration: none;
  font-size: 8pt;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-flex;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #cfbae1;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(276px);
  transform: translateX(276px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
/* container */
#card {
  padding-top: 15%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  transition: all 0.8s;
}

.face {
  width: 280px;
  height: 319px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  /* border-radius: 20px; */
}

#front {
  align-items: center;
  text-align: center;
  font-size: small;
  background-color: rgb(255, 255, 218, 0);
  backface-visibility: hidden;
  color: #000000;
}

#front:hover{
  background-color: rgb(255, 255, 218, .6);
  box-shadow: 6px 6px #7a7a64, -6px -6px #7a7a64;
  transition: .7s;
}

#back {
  background-color: #73a5a5;
  border: 2px solid #4d8383;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  height: 400px;
  border-radius: 20px;
}

.flip {
  transform: rotateY(180deg);
}

/* board game */
#board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2px;
  cursor: pointer;
}

.cell {
  width: 75px;
  height: 75px;
  font-size: 40pt;
  margin: 4px 2px;
  font-weight: 300;
  border-radius: 5px;
  text-align: center;
  background-color: #63acac;
  opacity: 0.9;
}

.cell:hover {
  opacity: 1;
  transform: scale(1.07);
  box-shadow: 2px 2px 3px #92cccc;
  transition: .2s
}
/* play button */
.btn {
  cursor: pointer;
  position: relative;
  width: max-content;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 2rem;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: rgb(34, 17, 17);
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

.play {
  border-color: transparent;
  transition: background-color 0.2s ease-in-out;
}
  
.play:hover {
  background-color: rgba(22, 126, 27, 0.5);
}
/* background animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
